- var path = '../../'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body(data-spy="scroll", data-target=".sidebar")
    header.header.header-fixed-top
      .header-inner

        .brandbar.brandbar-xsmall
          a.brand(href="#{path}index.html")

          .statusbar.pull-right
            strong Welcome 
            | John Mustermann 
            span.label.label-warning Admin Status


        .navbar

          .navbar-btns.pull-left
            button.btn.btn-default.navbar-btn(href="#{path}pages/samples.html")
              i.icon-large.icon-arrow-left

            button.toggleLeftSnap.btn.btn-default.navbar-btn(href="#{path}pages/samples.html")
              i.icon-large.icon-reorder

            button.hidden-sm.btn.btn-default.navbar-btn(href="#{path}pages/samples.html")
              i.icon-large.icon-home

          .navbar-title Title of current page

          .navbar-btns.pull-right
            button.toggleRightSnap.btn.btn-default.navbar-btn(href="#{path}pages/samples.html")
              i.icon-large.icon-envelope-alt




          //- include ../includes/sample-navbar
          
    .main
      .main-inner

        .sidebar.snap-drawers.scrollable
          .snap-drawer.snap-drawer-left
            ul.list-group
              li.list-group-item
                span.glyphicon.glyphicon-chevron-right
                | Item 1
              li.list-group-item
                span.glyphicon.glyphicon-chevron-right
                | Item 2
              li.list-group-item
                span.glyphicon.glyphicon-chevron-right
                | Item 3
              li.list-group-item
                span.glyphicon.glyphicon-chevron-right
                | Item 4
              li.list-group-item
                span.glyphicon.glyphicon-chevron-right
                | Item 5
              li.list-group-item
                span.glyphicon.glyphicon-chevron-right
                | Item 6

          .snap-drawer.snap-drawer-right
            .news-list
              h4 New messages
              ul
                li: a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                li: a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                li: a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                li: a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                li.news-end: a(href='#') more messages
        .content
          .page.snap-content.scrollable

            .pad-sm
              h4 lorem ipsum
              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              p Bla bla  
                a(href='page2.html', data-transition='slide-in') go to page2
        //- .sidebar
        //-   include ../includes/sample-sidebar

        //- .page
        //-   include ../includes/sample-content
      
    //- footer.footer
    //-   .footer-inner
    //-       | kesign is freely distributable under the terms of the MIT license.

    script

      // shelf snap.js
      var snapper
        , leftToggle = $('.toggleLeftSnap')
        , rightToggle = $('.toggleRightSnap');

      function initSnapper() {
        snapper = new Snap({
          element: $('.snap-content')[0],
          //disable: 'right',
          slideIntent: 40,
          minDragDistance: 20
        });

        snapper.on('end', function() {
          var snap = snapper.state();

          if (snap.state === 'closed' && snap.info.opening === 'left') {
            leftToggle.addClass('active');
            rightToggle.removeClass('active');
          } else {
            leftToggle.removeClass('active');
          }

          if (snap.state === 'closed' && snap.info.opening === 'right') {
            rightToggle.addClass('active');
            leftToggle.removeClass('active');
          } else {
            rightToggle.removeClass('active');
          }
        });
      }

      leftToggle.click(function() {
        var snap = snapper.state();
        if (snap.state === 'closed' || snap.state === 'right') {
          snapper.open('left');
          leftToggle.addClass('active');
          rightToggle.removeClass('active');
        } else {
          snapper.close('left');
          leftToggle.removeClass('active');
        }
      });

      rightToggle.click(function() {
        var snap = snapper.state();
        if (snap.state === 'closed' || snap.state === 'left') {
          snapper.open('right');
          rightToggle.addClass('active');
          leftToggle.removeClass('active');
        } else {
          snapper.close('right');
          rightToggle.removeClass('active');
        }
      });

      // page transition push.js
      $(window).on('push', function (e) {
        // run on page script with eval!!! risky but for prototype ok.
        $('[id^=pagescript]').each(function() {
          eval(this.outerText);
        });

        // reninit Snap.js
        initSnapper();
      });

      // init Snap.js
      initSnapper();
    
    include ../includes/layout/endscripts



