- var path = '../'
- var nav = '.documentation'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body(data-spy="scroll", data-target=".sidebar")
    include ../includes/layout/header
          
    include ../includes/layout/content
      .sidebar(data-spy="affix", data-offset-top="100")
        a.btn.btn-sidebar(data-toggle='collapse', data-target='.sidebar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar

        .sidebar-collapse
          ul.nav.nav-list
            li.nav-header Components Guidelines
            li.active: a(href="#well-section") Wells
            li: a(href="#font-color-section") Font Color
            li: a(href="#links-section") Special Links
            li: a(href="#images-section") Special Images
            li: a(href="#ribbon-section") Ribbons
            li: a(href="#stats-section") Stats & Charts
            li
              a(href="#{path}doc/index.html").pull-right
                i.icon-chevron-left.orange
                | back

      .page
        .section#well-section
          .row-fluid
            .span10
              .widget
                .widget-header
                  h3 Wells

                .widget-content
                  .section

                    p 
                      | To see some samples of forms in combination with wells go to 
                      a(href="#{path}samples/forms.html") forms sample.
                 
                    .kesign-example.kesign-example-well
                      .well-wrapper
                        h5 Primary colors:
                        .row-fluid
                          .span4
                            .well.well-kabaBlue
                              h6 .well-kabaBlue
                          .span4
                            .well.well-kabaMiddleBlue
                              h6 .well-kabaMiddleBlue
                          .span4
                            .well.well-kabaLightBlue
                              h6 .well-kabaLightBlue

                        h5 Gray:
                        .row-fluid
                          .span4
                            .well.well-kabaDarkGray
                              h6 .well-kabaDarkGray
                          .span4
                            .well.well-kabaTextGray
                              h6 .well-kabaTextGray
                          .span4
                            .well.well-kabaMiddleGray
                              h6 .well-kabaMiddleGray
                        .row-fluid
                          .span4
                            .well.well-kabaLightGray
                              h6 .well-kabaLightGray
                          .span4
                            .well.well-kabaBackgroundGray
                              h6 .well-kabaBackgroundGray
                          .span4
                            .well.well-kabaWhite
                              h6 .well-kabaWhite

                        h5 Secondary colors:
                        .row-fluid
                          .span4
                            .well.well-kabaOrange
                              h6 .well-kabaOrange
                        .row-fluid
                          .span4
                            .well.well-kabaGreen
                              h6 .well-kabaGreen
                          .span4
                            .well.well-kabaLightYellow
                              h6 .well-kabaLightYellow
                          .span4
                            .well.well-kabaRed
                              h6 .well-kabaRed

                        hr

                        h5 Gradients Primary colors:
                        .row-fluid
                          .span4
                            .well.well-kabaBlue.gradient
                              h6 .well-kabaBlue
                          .span4
                            .well.well-kabaMiddleBlue.gradient
                              h6 .well-kabaMiddleBlue
                          .span4
                            .well.well-kabaLightBlue.gradient
                              h6 .well-kabaLightBlue

                        h5 Gradients Gray:
                        .row-fluid
                          .span4
                            .well.well-kabaDarkGray.gradient
                              h6 .well-kabaDarkGray
                          .span4
                            .well.well-kabaTextGray.gradient
                              h6 .well-kabaTextGray
                          .span4
                            .well.well-kabaMiddleGray.gradient
                              h6 .well-kabaMiddleGray
                        .row-fluid
                          .span4
                            .well.well-kabaLightGray.gradient
                              h6 .well-kabaLightGray
                          .span4
                            .well.well-kabaBackgroundGray.gradient
                              h6 .well-kabaBackgroundGray
                          .span4
                            .well.well-kabaWhite.gradient
                              h6 .well-kabaWhite

                        h5 Gradients Secondary colors:
                        .row-fluid
                          .span4
                            .well.well-kabaOrange.gradient
                              h6 .well-kabaOrange
                        .row-fluid
                          .span4
                            .well.well-kabaGreen.gradient
                              h6 .well-kabaGreen
                          .span4
                            .well.well-kabaLightYellow.gradient
                              h6 .well-kabaLightYellow
                          .span4
                            .well.well-kabaRed.gradient
                              h6 .well-kabaRed
                      
                    .prettyprint
                      - var sample = '<!-- without gradient -->\n'
                      - sample    += '<div class="well well-kabaBlue">\n'
                      - sample    += '</div>\n'
                      - sample    += '<!-- with gradient -->\n'
                      - sample    += '<div class="well well-kabaBlue gradient">\n'
                      - sample    += '</div>\n'
                      
                      pre
                        code
                          | #{sample}

        .section#font-color-section
          .row-fluid
            .span10
              .widget
                .widget-header
                  h3 Wells

                .widget-content
                  .section
                 
                    .kesign-example.kesign-example-well
                      .well-wrapper
                        h5 font colors:
                        .row-fluid
                          .well.well-kabaWhite.gradient
                            .text-kabaBlue This is '.text-kabaBlue'
                            .text-kabaDarkGray This is '.text-kabaDarkGray'
                            .text-kabaTextGray This is '.text-kabaTextGray'

                          .well.well-kabaBlue.gradient
                            .text-white This is '.text-white'

                    .prettyprint
                      - var sample = '<div class="text-kabaBlue">\n'
                      - sample    += '</div>\n'
                      
                      pre
                        code
                          | #{sample}

        .section#links-section
          .row-fluid
            .span10
              .widget
                .widget-header
                  h3 Special forms of links

                .widget-content
                  .section
                    h5 Shortcuts
                 
                    .kesign-example.kesign-example-widget.kesign-example-links
                      kesign-example-widget
                        h6 variants:
                        .shortcuts
                          a(href='#')
                            .shortcut
                              i.icon-envelope.shortcut-icon
                              .shortcut-label Some shortcut
                          a(href='#')
                            .shortcut.shortcut-gray
                              i.icon-home.shortcut-icon
                              .shortcut-label Another shortcut
                          a(href='#')
                            .shortcut.shortcut-orange
                              i.icon-cloud.shortcut-icon
                              .shortcut-label Another shortcut
                        h6 selected:
                        .shortcuts
                          a(href='#')
                            .shortcut.selected
                              i.icon-envelope.shortcut-icon
                              .shortcut-label Some shortcut
                          a(href='#')
                            .shortcut.shortcut-gray.selected
                              i.icon-home.shortcut-icon
                              .shortcut-label Another shortcut
                          a(href='#')
                            .shortcut.shortcut-orange.selected
                              i.icon-cloud.shortcut-icon
                              .shortcut-label Another shortcut
                        h6 disabled:
                        .shortcuts
                          a(href='#')
                            .shortcut.disabled
                              i.icon-envelope.shortcut-icon
                              .shortcut-label disabled shortcut
                          a(href='#')
                            .shortcut.disabled
                              i.icon-home.shortcut-icon
                              .shortcut-label disabled shortcut
                          a(href='#')
                            .shortcut.disabled
                              i.icon-cloud.shortcut-icon
                              .shortcut-label disabled shortcut

                    .prettyprint
                      - var sample = '<div class="shortcuts">\n'
                      - sample    += '  <!-- middle blue -->\n'
                      - sample    += '  <a href="#">\n'
                      - sample    += '    <div class="shortcut">\n'
                      - sample    += '      <i class="shortcut-icon icon-envelope"></i>\n'
                      - sample    += '      <div class="shortcut-label">some shortcut</div>\n'
                      - sample    += '    </div>\n'
                      - sample    += '  </a>\n'
                      - sample    += '  <!-- light gray -->\n'
                      - sample    += '  <a href="#">\n'
                      - sample    += '    <div class="shortcut shortcut-gray">\n'
                      - sample    += '      <i class="shortcut-icon icon-home"></i>\n'
                      - sample    += '      <div class="shortcut-label">another shortcut</div>\n'
                      - sample    += '    </div>\n'
                      - sample    += '  </a>\n'
                      - sample    += '  <!-- orange -->\n'
                      - sample    += '  <a href="#">\n'
                      - sample    += '    <div class="shortcut shortcut-orange">\n'
                      - sample    += '      <i class="shortcut-icon icon-cloud"></i>\n'
                      - sample    += '      <div class="shortcut-label">another shortcut</div>\n'
                      - sample    += '    </div>\n'
                      - sample    += '  </a>\n'
                      - sample    += '  <!-- selected eg. middle blue -->\n'
                      - sample    += '  <a href="#">\n'
                      - sample    += '    <div class="shortcut selected">\n'
                      - sample    += '      <i class="shortcut-icon icon-envelope"></i>\n'
                      - sample    += '      <div class="shortcut-label">some shortcut</div>\n'
                      - sample    += '    </div>\n'
                      - sample    += '  </a>\n'
                      - sample    += '  <!-- disabled eg. middle blue -->\n'
                      - sample    += '  <a href="#">\n'
                      - sample    += '    <div class="shortcut disabled">\n'
                      - sample    += '      <i class="shortcut-icon icon-envelope"></i>\n'
                      - sample    += '      <div class="shortcut-label">some shortcut</div>\n'
                      - sample    += '    </div>\n'
                      - sample    += '  </a>\n'
                      - sample    += '</div>\n'
                      
                      pre
                        code
                          | #{sample}

                  .section
                    h5 Links with arrow
                 
                    .kesign-example.kesign-example-widget.kesign-example-links
                      kesign-example-widget
                        .row-fluid
                          .span6
                            h6 default (orange):
                            ul.unstyled
                              li: a.kaba-link(href="#") going nowhere default
                              li: a.kaba-link(href="#") going nowhere default
                        .row-fluid
                          .span6
                            h6 blue:
                            ul.unstyled
                              li: a.kaba-link.kaba-link-kabaBlue(href="#") going nowhere blue
                              li: a.kaba-link.kaba-link-kabaBlue(href="#") going nowhere blue
                              li: a.kaba-link.kaba-link-kabaMiddleBlue(href="#") going nowhere middle blue
                              li: a.kaba-link.kaba-link-kabaMiddleBlue(href="#") going nowhere middle blue
                          .span6
                            h6 gray:
                            ul.unstyled
                              li: a.kaba-link.kaba-link-kabaDarkGray(href="#") going nowhere dark gray
                              li: a.kaba-link.kaba-link-kabaDarkGray(href="#") going nowhere dark gray
                              li: a.kaba-link.kaba-link-kabaTextGray(href="#") going nowhere text gray
                              li: a.kaba-link.kaba-link-kabaTextGray(href="#") going nowhere text gray

                    .prettyprint
                      - var sample = '<!-- default orange -->\n'
                      - sample    += '<a href="#" class="kaba-link">link</a>\n'
                      - sample    += '<!-- kaba blue -->\n'
                      - sample    += '<a href="#" class="kaba-link kaba-link-kabaBlue">link</a>\n'
                      - sample    += '<!-- kaba middle blue -->\n'
                      - sample    += '<a href="#" class="kaba-link kaba-link-kabaMiddleBlue">link</a>\n'
                      - sample    += '<!-- kaba dark gray -->\n'
                      - sample    += '<a href="#" class="kaba-link kaba-link-kabaDarkGray">link</a>\n'
                      - sample    += '<!-- kaba text gray -->\n'
                      - sample    += '<a href="#" class="kaba-link kaba-link-kabaTextGray">link</a>\n'
                      
                      pre
                        code
                          | #{sample}


                  .section
                    h5 news list
                 
                    .kesign-example.kesign-example-widget.kesign-example-links
                      kesign-example-widget
                        .row-fluid
                          .span6
                            .news-list
                              h4 Latest News
                              ul
                                li: a(href="#") 23/10/2012: Nothing interesting happened.
                                li: a(href="#") 03/09/2012: Another day with world braking news.
                                li: a(href="#") 14/08/2012: Today the sun is shinning and we having fun.
                                li.news-end: a(href="#") more news

                    .prettyprint
                      - var sample = '<div class="news-list">\n'
                      - sample    += '  <h4>Latest News</h4>\n'
                      - sample    += '  <ul>\n'
                      - sample    += '    <li><a href="#">some news item</a></li>\n'
                      - sample    += '    <li><a href="#">some news item</a></li>\n'
                      - sample    += '    <li><a href="#">some news item</a></li>\n'
                      - sample    += '    <li class="news-end"><a href="#">more news</a></li>\n'
                      - sample    += '  </ul>\n'
                      - sample    += '</div>\n'
                      
                      pre
                        code
                          | #{sample}

        .section#images-section
          .row-fluid
            .span10
              .widget
                .widget-header
                  h3 Images

                .widget-content
                  .section
                    h5 image with caption
                 
                    .kesign-example.kesign-example-well
                      .well-wrapper
                        .row-fluid
                          .span4
                            .img-caption
                              img(src="#{path}public/img/product.jpeg")
                              .caption
                                h6 Reader
                                p This is some description text.

                          .span4
                            .img-caption.img-caption-orange
                              img(src="#{path}public/img/product.jpeg")
                              .caption
                                h6 Reader
                                p This is some description text.

                          .span4
                            .img-caption.img-caption-gray
                              img(src="#{path}public/img/product.jpeg")
                              .caption
                                h6 Reader
                                p This is some description text.

                    .prettyprint
                      - var sample = '<!-- default (blue) -->\n'
                      - sample    += '<div class="img-caption">\n'
                      - sample    += '  <img src="path/img.png">\n'
                      - sample    += '  <div class="caption">\n'
                      - sample    += '    <h6>title</h6>\n'
                      - sample    += '    <p>description</p>\n'
                      - sample    += '  </div>\n'
                      - sample    += '</div>\n'
                      - sample    += '<!-- orange -->\n'
                      - sample    += '<div class="img-caption img-caption-orange">\n'
                      - sample    += '  <img src="path/img.png">\n'
                      - sample    += '  <div class="caption">\n'
                      - sample    += '    <h6>title</h6>\n'
                      - sample    += '    <p>description</p>\n'
                      - sample    += '  </div>\n'
                      - sample    += '</div>\n'
                      - sample    += '<!-- gray -->\n'
                      - sample    += '<div class="img-caption img-caption-gray">\n'
                      - sample    += '  <img src="path/img.png">\n'
                      - sample    += '  <div class="caption">\n'
                      - sample    += '    <h6>title</h6>\n'
                      - sample    += '    <p>description</p>\n'
                      - sample    += '  </div>\n'
                      - sample    += '</div>\n'
                      
                      pre
                        code
                          | #{sample}

        .section#ribbon-section
          .row-fluid
            .span10
              .widget
                .widget-header
                  h3 Ribbons

                .widget-content
                  .section
                    h5 Add an ribbon icon to widget-header:
                    .kesign-example.kesign-example-widget
                      .row-fluid
                        .span4
                          .widget
                            .widget-header
                              i.icon-envelope-alt
                                small.ribbon 7
                              h3 default ribbon
                      
                        .span4
                          .widget
                            .widget-header
                              i.icon-envelope-alt
                                small.ribbon.ribbon-success 5
                              h3 success ribbon

                        .span4
                          .widget
                            .widget-header
                              i.icon-envelope-alt
                                small.ribbon.ribbon-error 3
                              h3 error ribbon

                      .row-fluid
                        .span4
                          i.icon-cloud.icon-large
                            small.ribbon 4
                        
                        .span4
                          i.icon-rss.icon-large
                            small.ribbon.ribbon-success 9

                        .span4
                          i.icon-camera.icon-large
                            small.ribbon.ribbon-error 2

                    .prettyprint
                      - var sample = '<!-- widget -->\n'
                      - sample    += '<div class="widget">\n'
                      - sample    += '  <div class="widget-header">\n'
                      - sample    += '    <i class="icon-envelope-alt"></i>\n'
                      - sample    += '      <small class="ribbon">5</small>\n'
                      - sample    += '    </i>\n'
                      - sample    += '    <h3>Title</h3>\n'
                      - sample    += '  </div>\n'
                      - sample    += '  <div class="widget-content">content...</div>\n'
                      - sample    += '</div>\n\n'
                      - sample    += '<!-- success -->\n'
                      - sample    += '<i class="icon-envelope-alt icon-large"></i>\n'
                      - sample    += '  <small class="ribbon ribbon-success">5</small>\n'
                      - sample    += '</i>\n'
                      - sample    += '<!-- error -->\n'
                      - sample    += '<i class="icon-envelope-alt icon-large"></i>\n'
                      - sample    += '  <small class="ribbon ribbon-error">5</small>\n'
                      - sample    += '</i>\n'
                      
                      pre
                        code
                          | #{sample}

        .section#stats-section
          .row-fluid
            .span10
              .widget
                .widget-header
                  h3 Stats & Charts

                .widget-content
                  .section
                    h5 Stats
                 
                    .kesign-example.kesign-example-widget.kesign-example-links
                      kesign-example-widget
                        h6 unselectable
                        .stats
                          .stat
                            span.stat-value
                                | 2
                                i.icon-user.stat-icon
                            | some title

                          .stat
                            span.stat-value
                                | 14
                                i.icon-comments-alt.stat-icon
                            | some title

                          .stat
                            span.stat-text
                              span.stat-value 22:00
                                span.small PM
                            | some title

                          .stat
                            span.stat-text
                              span.stat-value 22:00
                                span.small PM
                            | some title

                        h6 selectable
                        .stats
                          .stat.selectable
                            span.stat-value
                                | 2
                                i.icon-user.stat-icon
                            | some title

                          .stat.selectable
                            span.stat-value
                                | 14
                                i.icon-comments-alt.stat-icon
                            | some title

                          .stat.selectable
                            span.stat-text
                              span.stat-value 22:00
                                span.small PM
                            | some title

                          .stat.selectable
                            span.stat-text
                              span.stat-value 22:00
                                span.small PM
                            | some title
                          

                    .prettyprint
                      - var sample = '<div class="stats">\n'
                      - sample    += '  <!-- stat with icon -->\n'
                      - sample    += '  <div class="stat">\n'
                      - sample    += '    <span class="stat-value">15<i class="icon-envelope stat-icon"></i></span>\n'
                      - sample    += '    some title\n'
                      - sample    += '  </div>\n'
                      - sample    += '  <!-- stat with text only -->\n'
                      - sample    += '  <div class="stat">\n'
                      - sample    += '    <span class="stat-text">\n'
                      - sample    += '      <span class="stat-value">22:00<span class="small">PM</span></span>\n'
                      - sample    += '    </span>\n'
                      - sample    += '    some title\n'
                      - sample    += '  </div>\n'
                      - sample    += '  <!-- stat selectable -->\n'
                      - sample    += '  <div class="stat selectable">\n'
                      - sample    += '    <span class="stat-value">15<i class="icon-envelope stat-icon"></i></span>\n'
                      - sample    += '    some title\n'
                      - sample    += '  </div>\n'
                      - sample    += '</div>\n'
                      
                      pre
                        code
                          | #{sample}

    include ../includes/layout/footer
    
    include ../includes/layout/endscripts