- var path = '../'
- var nav = '.samples'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body(data-spy="scroll", data-target=".sidebar")
    include ../includes/layout/header
          
    include ../includes/layout/content

      .page
        .section#software
          h5 Layout Samples
          .row-fluid
            .span6
              ul.samples.unstyled
                li 
                  a(href='#{path}samples/default.html')
                    .sample
                      .row-fluid
                        .span6
                          img.sample-img.img-polaroid(src='#{path}public/img/samples/default.png')

                        .span6.sample-text
                          h6 Default Layout
                          p 
                           | The default layout comes optional with a sidebar navigation.
                           | Header and Footer will scroll.

            .span6
              ul.samples.unstyled
                li 
                  a(href='#{path}samples/default-fixed.html')
                    .sample
                      .row-fluid
                        .span6
                          img.sample-img.img-polaroid(src='#{path}public/img/samples/default-fixed.png')

                        .span6.sample-text
                          h6 Fixed Default Layout
                          p 
                           | The default layout comes optional with a sidebar navigation.
                           | Header and Footer will be fixed.

          .row-fluid
            .span6
              ul.samples.unstyled
                li
                  a(href='#{path}samples/default-center.html')
                    .sample
                      .row-fluid
                        .span6
                          img.sample-img.img-polaroid(src='#{path}public/img/samples/default-centered.png')

                        .span6.sample-text
                          h6 Centered Layout
                          p 
                           | The centered layout comes without sidebar navigation.
                           | Header and Footer will scroll.
                  
            .span6
              ul.samples.unstyled
                li
                  a(href='#{path}samples/default-fixed-center.html')
                    .sample
                      .row-fluid
                        .span6
                          img.sample-img.img-polaroid(src='#{path}public/img/samples/default-centered-fixed.png')

                        .span6.sample-text
                          h6 Fixed Centered Layout
                          p 
                           | The centered layout comes without sidebar navigation.
                           | Header and Footer will be fixed.

          .row-fluid
            .span12
              hr

          h5 Special Page Samples
          .row-fluid
            .span6
              ul.samples.unstyled
                li 
                  a(href='#{path}samples/printstyle-login.html')
                    .sample
                      .row-fluid
                        .span6
                          img.sample-img.img-polaroid(src='#{path}public/img/samples/printstyle-login.png')

                        .span6.sample-text
                          h6 Login Page (printstyle)
                          p 
                           | This login page comes in printstyle.
                           | Full responsive. Replace background image on .login-page selector.

          .row-fluid
            .span12
              hr

          h5 Component Samples
          .row-fluid
            .span6
              ul.samples.unstyled
                li 
                  a(href='#{path}samples/forms.html')
                    .sample
                      .row-fluid
                        .span6
                          img.sample-img.img-polaroid(src='#{path}public/img/samples/forms.png')

                        .span6.sample-text
                          h6 Forms
                          p 
                           | Presentation of a form on different backgrounds (set via class '.well')

          h5 Extended Samples
          .row-fluid
            .span6
              ul.samples.unstyled
                li 
                  a(href='#{path}samples/datatable.html')
                    .sample
                      .row-fluid
                        .span6
                          img.sample-img.img-polaroid(src='#{path}public/img/samples/datatable.png')

                        .span6.sample-text
                          h6 Datatables
                          p 
                           | An extended datatable with pagination, sorting and filtering (using dataTable.net)

        //- .section#mobile
        //-   .row-fluid
        //-     .span8
        //-       .widget
        //-         .widget-header
        //-           h3 Layout Samples Mobile App Guidelines


        //-         .widget-content
        //-           h3 Default:
        //-           p todo
      
    include ../includes/layout/footer
    
    include ../includes/layout/endscripts