- var path = '../'
- var nav = '.samples'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body(data-spy="scroll", data-target=".sidebar")
    include ../includes/layout/header
          
    include ../includes/layout/content
      .sidebar(data-spy="affix", data-offset-top="100")
        a.btn.btn-sidebar(data-toggle='collapse', data-target='.sidebar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar

        .sidebar-collapse
          ul.nav.nav-list
            li.nav-header Guidelines
            li: a(href="#software") Software
            li: a(href="#mobile") Mobile

      .page
        .section#software
          .row-fluid
            .span8
              .widget
                .widget-header
                  h3 Layout Samples - Software Guidelines


                .widget-content
                  h3 Default:
                  ul.samples.unstyled
                    li 
                      a(href='#{path}samples/default.html')
                        .sample
                          .row-fluid
                            .span6
                              img.sample-img.img-polaroid(src='#{path}public/img/samples/default.png')

                            .span6.sample-text
                              h6 Default Layout
                              p 
                               | The default layout comes optional with a sidebar navigation.
                               | Header and Footer will scroll.
                    li 
                      a(href='#{path}samples/default-fixed.html')
                        .sample
                          .row-fluid
                            .span6
                              img.sample-img.img-polaroid(src='#{path}public/img/samples/default-fixed.png')

                            .span6.sample-text
                              h6 Fixed Default Layout
                              p 
                               | The default layout comes optional with a sidebar navigation.
                               | Header and Footer will be fixed.

                  h3 Centered:
                  ul.samples.unstyled
                    li
                      a(href='#{path}samples/default-center.html')
                        .sample
                          .row-fluid
                            .span6
                              img.sample-img.img-polaroid(src='#{path}public/img/samples/default-centered.png')

                            .span6.sample-text
                              h6 Centered Layout
                              p 
                               | The centered layout comes without sidebar navigation.
                               | Header and Footer will scroll.
                    li
                      a(href='#{path}samples/default-fixed-center.html')
                        .sample
                          .row-fluid
                            .span6
                              img.sample-img.img-polaroid(src='#{path}public/img/samples/default-centered-fixed.png')

                            .span6.sample-text
                              h6 Fixed Centered Layout
                              p 
                               | The centered layout comes without sidebar navigation.
                               | Header and Footer will be fixed.


          .row-fluid
            .span8
              .widget
                .widget-header
                  h3 Login Page Samples - Software Guidelines


                .widget-content
                  h3 Printstyle loginpage:
                  ul.samples.unstyled
                    li 
                      a(href='#{path}samples/printstyle-login.html')
                        .sample
                          .row-fluid
                            .span6
                              img.sample-img.img-polaroid(src='#{path}public/img/samples/printstyle-login.png')

                            .span6.sample-text
                              h6 Login Page (printstyle)
                              p 
                               | This login page comes in printstyle.
                               | Full responsive. Replace background image on .login-page selector.


        .section#mobile
          .row-fluid
            .span8
              .widget
                .widget-header
                  h3 Layout Samples Mobile App Guidelines


                .widget-content
                  h3 Default:
                  p todo
      
    include ../includes/layout/footer
    
    include ../includes/layout/endscripts