- var path = ''
- var nav = '.home'
!!! 5
html(lang="en")
  head
    include includes/layout/head

  body(data-spy="scroll", data-target=".sidebar")
    include includes/layout/header
          
    include includes/layout/content
      .sidebar(data-spy="affix", data-offset-top="100")
        a.btn.btn-sidebar(data-toggle='collapse', data-target='.sidebar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar

        .sidebar-collapse.collapse
          ul.nav.nav-list
            li.nav-header Interface Guidelines
            li.active: a(href="#software") Software
            li: a(href="#mobile") Mobile

      .page
        .section#software
          .row-fluid
            .span8
              .widget
                .widget-header
                  h3 Software Guidelines


                .widget-content
                  .section
                    h4 why kesign?
                    :markdown
                      In 2011 kaba ag started a project called __WIMP__ focused on defining a styleguide 
                      for software - like it was defined for hardware devices before. The result 
                      was a nice modern visual style focusing on web applications.

                      __kesign__ should fill some gaps from the WIMP project by bringing a more interactive form of 
                      the styleguide document - able to present interactions, animation behaviour and other nice stuff. 

                      Additional it should provide all 
                      what is needed to build a webapplication in the __offical kaba user interface design styleguide__. 
                      So you could focus on developing the solutions and just adopt the provided styles.

                  
                  .section
                    h4 kesign is based on
                    .framework-links
                      .row-fluid
                        .span4
                          a(href='http://twitter.github.com/bootstrap/', target='_new')
                            .framework-link
                              h6 
                                i.icon-twitter
                                |  bootstrap 
                                small @twitter
                              p 
                                | Believe it or not twitter bootstrap is the most starred project on github. 
                                | Endless sites are based on this css framework.

                        .span4
                          a(href='http://fortawesome.github.com/Font-Awesome/', target='_new')
                            .framework-link
                              h6
                                i.icon-font 
                                |  Font-Awesome
                              p 
                                | Font-Awesome is a iconic-font replacing the image sprite implementation of twitter bootstrap.
                                | You can resize icons (as they are vector based) or recolorize them with ease.

                  .section
                    h4 where should i start?

                    .row-fluid.section
                      .span4
                        a.btn.btn-primary.btn-hero.btn-block(href='#{path}bootstrap/', target='_new')
                          span.lead 1.   
                          i.icon-cog
                          |  bootstrap
                      .span4
                        a.btn.btn-warning.btn-hero.btn-block(href='#{path}doc/')
                          span.lead 2.   
                          i.icon-cogs
                          |  kesign
                      .span4
                        a.btn.btn-hero.btn-block(href='#{path}pages/samples.html')
                          span.lead 3.   
                          i.icon-play-circle
                          |  samples
                    
                    .row-fluid.section
                      .span12
                        ol.large
                          li
                            | first you should get used to 
                            a.kaba-link(href='#{path}bootstrap/', target='_new') twitter bootstrap
                            |  for grid, forms, tables, ...
                          li
                            | than head over to the 
                            a.kaba-link(href='#{path}doc/') kesign documentation
                            |  for layout, widget, ...
                          li
                            | or checkout 
                            a.kaba-link(href='#{path}pages/samples.html') the samples page


            .span4
              include includes/shared/downloads

              .downloads
                h6 
                  i.icon-ok.icon-large
                  |  Browsers:
                ul.unstyled
                  li
                    img.img16(src="#{path}public/img/browsers/16-ie.png")
                    span.large IE10, IE9, IE8
                      small , IE7
                  li
                    img.img16(src="#{path}public/img/browsers/16-firefox.png")
                    span.large FF 
                      small 16.0.2
                  li
                    img.img16(src="#{path}public/img/browsers/16-chrome.png")
                    span.large Chrome 
                      small 22.0
                  li
                    img.img16(src="#{path}public/img/browsers/16-safari.png")
                    span.large Safari 
                      small 6.0.1
                  li
                    img.img16(src="#{path}public/img/browsers/Opera_16x16.png")
                    span.large Opera 
                      small 12.02

                hr
                h6 
                  i.icon-ok.icon-large
                  |  Tested on:

                ul.unstyled
                  li
                    img.img16(src="#{path}public/img/os/apple_16.png")
                    span.large IPhone 
                      small 5, 4
                  li
                    img.img16(src="#{path}public/img/os/apple_16.png")
                    span.large IPad 
                      small Retina, Mini, 2
                  li
                    img.img16(src="#{path}public/img/os/android_16.png")
                    span.large Nexus 
                      small not yet tested
                  li
                    img.img16(src="#{path}public/img/os/android_16.png")
                    span.large Samsung Galaxy 
                      small S3

        .section#mobile
          .row-fluid
            .span8 
              .widget 
                .widget-header
                  h3 Mobile Apps Guidelines


                .widget-content
                  p 
                    | If there are no special requirements to the user interface you can build a webapplication 
                    | with responsive layout:

                  .row-fluid
                    .span13
                      img.polaroid.span8.offset2(src="#{path}public/img/responsive2.jpg")

                  :markdown
                    The most difficult part in getting the right design for a mobile application 
                    is to decide for the right application type. Depending on the application type 
                    you could easily decide on the appropriate interface guideline.

                  ul.unstyled
                    li: a.kaba-link(href='#{path}doc/apptype.html') choose your application type
                    li: a.kaba-link(href='#{path}ratchet/docs/') check out kesign-mobile visual style

            .span4
              include includes/shared/downloads-mobile
      
    include includes/layout/footer
    
    include includes/layout/endscripts

    script(type='text/javascript')
      $(document).ready(function() {
        $('.framework-link').equalHeights();
      });