- var version = '0.0.5'

header.header
  .header-inner
    .brandbar.brandbar-xsmall
        a.brand(href="#{path}index.html")

        .statusbar.pull-right
          strong Welcome to 
          | kesign 
          span.label.label-warning BETA v#{version}

    .navbar
      .navbar-inner
        .container

          //.btn-navbar is used as the toggle for collapsed navbar content
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar

          // Everything you want hidden at 940px or less, place within here
          .nav-collapse

            ul.nav
              li.home: a(href="#{path}index.html") Home
              li.divider-vertical
              li.documentation: a(href="#{path}doc/") Documentation
              li.divider-vertical
              li.samples: a(href="#{path}pages/samples.html") Samples
              li.divider-vertical

            ul.nav.pull-right.nav-small
              li.releasenotes
                a(href='#{path}pages/releasenotes.html')
                  i.icon-file
                  |  releasenotes
              li
                a(href='https://github.com/KABA-CCEAC/kesign', target='_blank')
                  i.icon-github
                  |  contribute