.brandbar.brandbar-xsmall
  a.brand(href="#{path}index.html")

  .statusbar.pull-right
    strong Welcome 
    | John Mustermann 
    span.label.label-warning Admin Status


.navbar

  .navbar-btns.pull-left
    button.btn.btn-default.navbar-btn(href="#{path}pages/samples.html")
      i.icon-large.icon-arrow-left

    button.toggleLeftSnap.btn.btn-default.navbar-btn(href="#{path}pages/samples.html")
      i.icon-large.icon-reorder

    button.hidden-sm.btn.btn-default.navbar-btn(href="#{path}pages/samples.html")
      i.icon-large.icon-home

  .navbar-title Title of current page

  .navbar-btns.pull-right
    button.toggleRightSnap.btn.btn-default.navbar-btn(href="#{path}pages/samples.html")
      i.icon-large.icon-envelope-alt
        small.ribbon.ribbon-error 2